.skills-logos {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  width: 650px;
}

.skills-logo {
  margin: 0 15px;
}

.skills-logo img {
  height: 60px;
  width: auto;
}

.skills-logo h3 {
  text-transform: none;
}

.project-image img{
  height: 700px;
  width: auto;
  display: block;
}

.project-header-mario {
  background-image: url("mariopaint.png");
  margin-bottom: 0em;
}

.video-container {

}

.project-video {

}