.skills-logos {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  /*width: 650px;*/
	text-align: -webkit-center;
}

.skills-logo {
  margin: 0 15px;
}

.skills-logo img {
  height: 60px;
  width: auto;
}

.skills-logo h3 {
  text-transform: none;
}

.project-image img{
  height: 700px;
  width: auto;
  display: block;
}

.project-header-mario {
  background-image: url("mariopaint.png");
  margin-bottom: 0em;
}

.video-container {
	display: flex;
	align-items: center;
}

.project-video {
	width: 71%;
	margin: auto;
}

.candra-intro-div {
	color: black;
}

#one {
	background-color: #4aa8cc;
	border-bottom: solid 1px #4aa8cc;
}

#two {
	background-color: #72c5ff;
	border-bottom: solid 1px #72c5ff;
	
}

#three {
	background-color: #73e8c7;
	border-bottom: solid 1px #73e8c7;
}

#four {
	background-color: #e4a6a6;
	border-bottom: solid 1px #e4a6a6;
}

#footer {
	color: black;
}

#footer .inner {
	color: black;
}

#footer h2, a, ul, p {
	color: black;
}

.features article {
	background-color: #f7c2c2;
}

#nav-link:hover,
#nav-link:active {
	color: black;
  letter-spacing: 5px;	
	/*border-color: #000 !important;
  border-top: 1px solid;
  border-bottom: 1px solid;
	
  transition: border 350ms ease-in-out !important;
  width: 0;*/
}

#nav-link:after,
#nav-link:before {
  backface-visibility: hidden;
  border: 1px solid transparent;

  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

#nav-link:hover:before {
  bottom: auto;
  top: 0;
  width: 100%;
}

#nav-link:hover:after,
#nav-link:hover:before {
  backface-visibility: hidden;
  border-color: #000;
  transition: width 350ms ease-in-out;
  width: 100%;
}

#white-bg:hover {
	color: grey;
}

.button:hover {
	background-color:	rgba(255, 255, 255, 0.27)
}

.letters {
	color: #717c80
}

.letters-dark {
	color: #383f42;
	font-weight: bold;
}

#get-in-touch {
				-moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease, -moz-filter 0.25s ease;
			-webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease, -webkit-filter 0.25s ease;
			-ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease, -ms-filter 0.25s ease;
			transition: opacity 0.5s ease, transform 0.5s ease, filter 0.25s ease;
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			-moz-transition-delay: 0.65s;
			-webkit-transition-delay: 0.65s;
			-ms-transition-delay: 0.65s;
			transition-delay: 0.65s;
			-moz-filter: blur(0);
			-webkit-filter: blur(0);
			-ms-filter: blur(0);
			filter: blur(0);
			opacity: 1;
			border-bottom: solid 2px rgba(255, 255, 255, 0.125);
			font-size: 2.25em;
			margin-bottom: 0.8em;
			padding-bottom: 0.4em;
}

#header nav a.display-menu {
	display: none;
}

@media screen and (max-width: 980px) {

	#header nav a {
		display: none;
	}

	#header nav a.resume {
		display: inline-block;
	}
	#header nav a.display-menu {
		display: inline-block;
	}

}

@media screen and (max-width: 470px) {
	ul.contact {
		font-size: 18px;
	}
}