.skills-logos {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  /*width: 650px;*/
}

.skills-logo {
  margin: 0 15px;
}

.skills-logo img {
  height: 60px;
  width: auto;
}

.skills-logo h3 {
  text-transform: none;
}

.project-image img{
  height: 700px;
  width: auto;
  display: block;
}

.project-header-mario {
  background-image: url("mariopaint.png");
  margin-bottom: 0em;
}

.video-container {
	display: flex;
	align-items: center;
}

.project-video {
	width: 71%;
	margin: auto;
}

.candra-intro-div {
	color: black;
}

#one {
	background-color: #4aa8cc;
}

#two {
	background-color: #72c5ff;
}

#three {
	background-color: #73e8c7;
}

#footer {
	color: black;
}

#footer .inner {
	color: black;
}

#footer h2, a, ul, p {
	color: black;
}

